body {
  background-color: #f0f2f5 !important;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons button {
  background-color: pink;
  margin: 0 10px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: aliceblue;
}